input:invalid {
    border-color: red;
}
input,
input:valid {
    border-color: #ccc;
}

#document-preview {
  border: 1px solid #ced4da;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(128,128,128,1);
  -moz-box-shadow: 2px 2px 10px 0px rgba(128,128,128,1);
  box-shadow: 2px 2px 10px 0px rgba(128,128,128,1);
  padding: 5px;
  height: 800px;
  overflow-y: auto;
}

.dp {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

h3.dp-date {
    font-size: 15px;
}

.dp-date {
    text-transform: uppercase;
}

.dp-time {
    font-weight: bold;
}

.dp-desc {
    font-weight: normal;
}

h3.ui-header {
    font-size: 16px;
}
