{% extends "base.html" %}
{% block title %}Logga in{% endblock %}
{% block head %}
  {{ super() }}
    <style>
      html, body { height: 100%; }
    </style>
{% endblock %}

{% block content %}
    <div class="row h-100 justify-content-center align-items-center">
      <form action="/" class="col-4" method="post">
        <div class="form-group">
          <label for="tokenInput">Användarens nyckel:</label>
          <input type="text" class="form-control" id="tokenInput" name="userkey" placeholder="Skriv den nyckel du har fått...">
        </div>
        <button type="submit" class="btn btn-primary">Skicka!</button>
      </form>
    </div>
{% endblock %}