{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/gijgo@1.8.2/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" />
<link href="/css/ui.css" rel="stylesheet" />
{% endblock %}}

{% block extra_body_parms %}data-user-key={{ user.key  }}{% endblock %}

{% block content %}
{% raw %}
<div id="app">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Pingstkyrkan Söderköping</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="programbladDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ladda ner - programblad
        </a>
        <div class="dropdown-menu" aria-labelledby="programbladDropdown">
          <a class="dropdown-item" href="#">HTML</a>
          <a class="dropdown-item" v-bind:href="'/service/' + userkey + '/programblad/docx?startDate=' + startDate + '&endDate=' + endDate">Docx</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="hemsidaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ladda ner - hemsida
        </a>
        <div class="dropdown-menu" aria-labelledby="hemsidaDropdown">
          <a v-bind:href="'/service/' + userkey + '/by_event/csv?startDate=' + startDate + '&endDate=' + endDate"
	     class="dropdown-item">
	    csv - rad för varje händelse
	  </a>
	  <a v-bind:href="'/service/' + userkey + '/by_week/csv?startDate=' + startDate + '&endDate=' + endDate"
	     class="dropdown-item">
	    csv - rad för varje vecka</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="hemsidaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Övrigt
        </a>
        <div class="dropdown-menu" aria-labelledby="hemsidaDropdown">
          <a class="dropdown-item" v-bind:href="fetchData()">Ladda om huvuddokument</a>
          <a class="dropdown-item"
	     v-bind:href="'/service/' + userkey + '/ical/?startDate=' + startDate + '&endDate=' + endDate">
	    Ladda ner ical</a>
        </div>
      </li>
      <div class="nav nav-item">
        <a class="btn btn-primary" href="/logout/">Logga ut!</a>
      </div>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-md-5 mt-3">
    <form>
      <div class="form-group">
        <label for="start-date">Startdatum</label>
        <input id="start-date-input"
               v-model="startDate"
               type="text"
               class="form-control"
               pattern="\d{4}-\d{2}-\d{2}">
      </div>
      <div class="form-group">
        <label for="end-date">Slutdatum</label>
        <input id="end-date-input"
               v-model="endDate"
               type="text"
               class="form-control"
               pattern="\d{4}-\d{2}-\d{2}">
      </div>
    </form>
    <div v-if="data.validation.length > 0">
      <hr />
      <h3 class="ui-header">Varningar:</h3>
    </div>
    <div v-for="entry in data.validation">
      <div class="alert alert-warning" role="alert">
        <strong>{{ entry.severity }}</strong> {{ entry.text }}
      </div>
    </div>
  </div>

  
  <div class="col-md-7 mt-3">
    <h3 class="ui-header">Förhandsgranskning</p>
    <div id="document-preview">
      <div v-for="event in data.events">
        <h3 class="dp dp-date" v-text="event.start_date_readable"></h3>
        <p>
          <span class="dp dp-time" v-if="event.start_time_readable">{{ event.start_time_readable }} </span>
          <span class="dp dp-desc">{{ event.desc }}</span>
        </p>
     </div>
    </div>
  </div>
</div>
  <footer class="mt-3">
    &nbsp;
  </footer>
</div>
</div>
{% endraw %}
{% endblock %}

{% block javascript %}
  {{ super() }}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/gijgo@1.8.2/combined/js/gijgo.min.js" type="text/javascript"></script>

<script src="/js/app.js"></script>
<script src="/js/pluginsinit.js"></script>
{% endblock %}
